db/
incremental_db/
output_files/
simulation/
hc_output/
greybox_tmp/
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
*.sopcinfo
*.cmp
*.sip
*.spd
*.bsf
*_netlist/
*.cdf
sim/work/
sim/transcript
sim/*.log
sim/*.mem
local.settings.ps1
build_id.v
*.swp
*~
**/.DS_Store
*.rom
*.zip
roms/*
!roms/.gitkeep
